<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.yu.fdm.tools.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.yu.fdm.tools.rcp.Perspective"
            id="fdmtools.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.yu.fdm.tools.rcp.view.TreeMenuView"
            name="菜单">
      </category>
      <view
            category="com.yu.fdm.tools.rcp.view.TreeMenuView"
            class="com.yu.fdm.tools.rcp.view.TreeMenuView"
            icon="icons/tools_16.png"
            id="com.yu.fdm.tools.rcp.view.TreeMenuView"
            name="过账引擎工具菜单">
      </view>
      <category
            id="com.yu.fdm.tools.rcp.view.AccountJournalRuleSetView"
            name="核算规则比对">
      </category>
      <view
            category="com.yu.fdm.tools.rcp.view.AccountJournalRuleSetView"
            class="com.yu.fdm.tools.rcp.view.AccountJournalRuleSetView"
            icon="icons/compare_16.png"
            id="com.yu.fdm.tools.rcp.view.AccountJournalRuleSetView"
            name="核算规则比对">
      </view>
      <category
            id="com.yu.fdm.tools.rcp.view.SearchTransInfoView"
            name="查询交易信息">
      </category>
      <view
            category="com.yu.fdm.tools.rcp.view.SearchTransInfoView"
            class="com.yu.fdm.tools.rcp.view.SearchTransInfoView"
            icon="icons/search_16.png"
            id="com.yu.fdm.tools.rcp.view.SearchTransInfoView"
            name="查询交易信息">
      </view>
      <category
            id="com.yu.fdm.tools.rcp.view.MerageTransInfoView"
            name="合并交易信息">
      </category>
      <view
            category="com.yu.fdm.tools.rcp.view.MerageTransInfoView"
            class="com.yu.fdm.tools.rcp.view.MerageTransInfoView"
            icon="icons/merge_16.png"
            id="com.yu.fdm.tools.rcp.view.MerageTransInfoView"
            name="合并交易信息">
      </view>
   </extension>
   <extension
         id="fdmtools"
         point="org.eclipse.core.runtime.products">
      <product
            application="fdmtools.application"
            name="fdmtools">
         <property
               name="appName"
               value="fdmtools">
         </property>
         <property
               name="windowImages"
               value="icons/product16.png,icons/product32.png,icons/product48.png,icons/product64.png,icons/product128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="fdmtools.splashHandlers.ExtensibleSplashHandler"
            id="fdmtools.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="fdmtools.fdmtools"
            splashId="fdmtools.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="fdmtools.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
</plugin>
